<div id="curiosity-wrapper">
    <div id="nav-top">
        <ul>
            <li><%= link_to "News", "news" %></li>
            <li><%= link_to "About", "about" %></li>
            <li><%= link_to "Music", "http://www.myspace.com/sundogmoondog" %></li>
            <li><%= link_to "Facebook", "http://www.facebook.com/velvet.seahorse" %></li>
            <li><%= link_to "Blog", "http://therenotthere.blogspot.com/" %></li>
            <li><%= link_to "CV", "cv" %></li>
            <li><%= mail_to "velvet.seahorse@gmail.com", "Email" %></li>
        </ul>
    </div>
    <div id="content-news">
